.desktop {
	width: 1084px;
	margin-left: auto;
	margin-right: auto;
	
	font:12px Arial,Verdana,Tahoma;
	color: white;
}

.side_menu ul {
	list-style: none;
	width: 170px;
	margin-top: 80px;
	padding: 0;
	float: left;
}

.side_menu li a {
	display: block;
  	color: salmon;
	background: url(../images/side_menu_item.gif);
  	height: 22px;
	padding: 10px 0 0 30px;
	outline: none;
	text-decoration: none;
	
	font-size:12px;
	font-weight:bold;
}
	
.side_menu li a:hover {
	color: darkgreen;
	background-position: 0 -32px;
}
	
.main_content {
	margin-top: 0;
	margin-left: 30px;
	float: left;
}

.progress_bar {
	display: none;
	position: relative;
	left: -100px;
}