.desktop {
	width: 1124px;
	margin-left: auto;
	margin-right: auto;
}

.side_menu ul {
	list-style: none;
	width: 170px;
	margin: 10px;
	padding: 0;
	float: left;
}

.side_menu li a {
	display: block;
  	color: salmon;
	background: url(../images/side_menu_item.gif);
  	height: 22px;
	padding: 10px 0 0 30px;
	outline: none;
	text-decoration: none;
	
	font-size:12px;
	font-weight:bold;
}
	
.side_menu li a:hover {
	color: #2f2;
	background-position: 0 -32px;
}
	
.main_content {
	margin-top: 5px;
	margin-left: 30px;
	float: left;
}
